/* OBS! Vi designer Mobile First */

body {
    margin: auto;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 20px;
}

.museumsplash {
    height: 100%;
    display: none;
}

/* TYPOGRAFI */

@font-face {
    font-family: LimeStone_bold;
    src: url("path/LimeStone_bold.otf") format("opentype");
}

h1 {
    font-family: "LimeStone_bold";
    margin: 0;
}

h2 {
    font-family: "LimeStone_bold";
    font-size: 24pt;
    letter-spacing: 1pt;
    text-transform: uppercase;
    margin: 0;
}

h3 {
     font-family: "calibri", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

p {
     font-family: "calibri", sans-serif;
    font-size: 14pt;
}

a {
    font-family: "calibri", sans-serif;
    color: #FF6600;
    text-decoration: none;
}

a:hover {
    color: black;
}

/* Museum */

#cover,
#besog,
#omos,
#undervisning,
#kontakt {
    display: flex;
    flex-wrap: wrap;
}

#besog,
#omos,
#undervisning,
#kontakt {
    padding: 3.28571vw 0;
}


.column {
    flex-basis: 400px;
    flex-grow: 1;
    padding-right: 7.14286vw;
    padding-left: 7.14286vw;
}

.velkommen {
    padding-right: 7.14286vw;
    padding-left: 10.14286vw;
}



.museumlogo {
    position: absolute;
    height: 22vw;
    width: 18vw;
    top: -3.2vw;
    left: -1.2vw;
    z-index: 1;
    padding: 1.5rem;
}

/* FORSIDE - Splash */

#forside_wrapper {
    margin: auto;
    margin-top: -42vw;
    max-width: 1200px;
    padding: 10px;
}


#splash_cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        position: absolute;
    z-index: -1;
    top: 0vw;
    height: 225vw;
}

#splash_forside .logo {
    position: absolute;
    z-index: 999;
    margin-left: 10px;
    top: 40px;
    text-align: left;
    width: 50%;
}

#splash_forside img{
    border-radius: 0px;
}

#cover img{
    border-radius: 0px; 
}

#indhold {
    color: white;
}

#indhold h2 {
    text-align: center;
    margin: 2rem;
    margin-top: 16rem;
}

#indhold p {
    margin: auto;
    margin-bottom: 22px;
    max-width: 800px;
}

#pris {
    background-image: url(SVGs/priser.svg);
    width: 34vw;
    height: 40vw;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 1vw;
    left: 22vw;
    padding-bottom: 4vw;
}



#adresse {
    background-image: url(SVGs/Adresse.svg);
    width: 34vw;
    height: 40vw;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 1vw;
    left: 22vw;
    padding-bottom: 4vw;
}


#tider {
    background-image: url(SVGs/%C3%85bningstider.svg);
    width: 34vw;
    height: 40vw;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 1vw;
    left: 22vw;
    padding-bottom: 4vw;
}

#rundvisning {
    background-image: url(SVGs/Rundvisning.svg);
    width: 34vw;
    height: 40vw;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 1vw;
    left: 22vw;
    padding-bottom: 4vw;
}

.prisen {
    text-align: center;
}

.adressen {
    text-align: center;
}

.tiden {
    text-align: center;
}

.rundvisningen {
    text-align: center;
}

#logoer {
    font-size: 3em;
    color: white;
}

.fab {
    color: white;
    padding-right: 4vw;
}

#button {
    background-color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#button_container{
    margin-left: 17vw;
    margin-top: 10vw;
}

#section_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    grid-gap: 3rem;
}

#columnbesog {
    padding-right: 7.14286vw;
    padding-left: 7.14286vw;
}

 .besoeg_titel{
        margin-bottom: 10vw;
    }


#arrow{
  background-image: url(SVGs/arrow.svg);
    width: 3vw;
    height: 1vw;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 45vw;
    left: 48vw;
    padding-bottom: 4vw;
    animation: jump 3s infinite;
    display: none;
}

@keyframes jump { 0% { top: 45vw; } 50% { top: 43vw; } 100% { top: 45vw; } }

/* FORSIDE – Attraktioner */

#attraktioner {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#attraktioner img {
    display: inline-block;

    /*    Skygge og animation */
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

#attraktioner img:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#attraktioner .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 90%;
    /* Set the width of the positioned div */
}

#undermenu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    grid-gap: 3rem;
}


.undermenulink1:hover {
    opacity: 0.7
}

.undermenulink2:hover {
    opacity: 0.7
}

.undermenulink3:hover {
    opacity: 0.7
}

/*BURGERMENU*/
#topmenu {
    list-style-type: none;
    transition: transform 1s;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: -1rem;
    text-decoration: underline;
    position: fixed;
}


#topmenu a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}


#topmenu li {
    padding-top: 5.2rem;
    padding-left: 6rem;
}

.hidden {
    transform: translateX(-150%);

}

#menuknap {
    display: inline-block;
    color: #FF6600;
    font-size: 2rem;
    padding: 1.5rem;
    z-index: 2;
    position: fixed;
    left: 80vw;

}

.topnav {
    position: fixed;
    list-style-type: none;
    transition: transform 1s;
    z-index: 1;
    width: 10%;
    padding: 0;
    left: 89.5vw;
    top: 0.8vw;
    display: none;
    text-align: center;
    color: white;
    line-height: 2.3rem;
    background: #FF6600;
    border-radius: 20px;
}

.topnav a {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    margin: 0;
    font-family: LimeStone_bold
}

.topnav a:hover {
    font-size: 1.4rem;
}




@keyframes slidy { /*Animationens process, hvorledes hvordan billederne skal bevæge sig til venstre undervejs.*/
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: 0%;
    }
}


#captioned-gallery {
    width: 100%;
    overflow: hidden;
    display: block;
}

div.slider { /*Slideshowets overordnet ramme, bredden er erklæderet ud fra antallet af billeder samt hvordan animationen skal køre.*/
    position: relative;
    width: 500%;
    animation: 25s slidy ease-in-out infinite;
    top: -1vw;
}

div.slider div { /*Billederne i slideshow, bredden er bestemt ud fra antallet af elementer*/
    width: 19.8%;
    height: auto;
    display: inline-block;
    position: inherit;
}

div.slider img {
    width: 100%;
    height: auto;
}








/* TABLET  */

@media only screen and (min-width: 815px) {

    /*    TYPOGRAFI */

    h2 {
        font-size: 30pt;
    }

    /*    FORSIDE */

    #forside_wrapper {
        margin-top: -80vw;
    }

    #attraktioner {
        grid-template-columns: repeat(4, 1fr);
    }

    #splash_forside .logo {
        text-align: left;
        width: 30%;
        top: 50px;
    }

    #indhold h2 {
        margin-top: 17rem;
    }

    .burgermenu {
        display: none;
    }

}


/* DESKTOP */

@media only screen and (min-width: 1025px) {

    #besog,
    #omos,
    #undervisning,
    #kontakt {
        padding: 3vw;
    }
    
    #splash_cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        position:relative;
    z-index: -1;
    top: 0vw;
    height: 100%;
        display: block;
}

    #cover {
        padding: 0vw;
    }

    /*    FORSIDE */
    #forside_wrapper {
        margin-top: -55vw;
    }


    #indhold h2 {
        margin-top: 8rem;
    }

    .topnav {
        display: block;
    }

    #section_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    #pris {
        width: 10vw;
        height: 11vw;
        left: 1vw;
        padding-bottom: 2vw;
    }


    #adresse {
        width: 10.5vw;
        height: 12vw;
        left: 1vw;
        padding-bottom: 2vw;
    }

    #tider {
        width: 9vw;
        height: 11vw;
        left: 1vw;
        padding-bottom: 2vw;
    }

    #rundvisning {
        width: 9vw;
        height: 11vw;
        left: 1vw;
        padding-bottom: 2vw;
    }
    
    
    #arrow{
        display: block;
    }

    #splash_forside .logobox {
        max-width: 1220px;
        margin: auto;
    }

    #splash_forside .logo {
        text-align: left;
        width: 300px;
        top: 50px;
    }
    
    .museumlogo {
    height: 10vw;
    width: 8vw;
    top: 1.8vw;
    left: 1.8vw;
}

#indhold p {
    margin-bottom: 42px;
}

    .prisen {
        text-align: left;
    }

    .adressen {
        text-align: left;
    }

    .tiden {
        text-align: left;
    }

    .rundvisningen {
        text-align: left;
    }

    #undermenu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0.5rem;
        grid-gap: 0.8rem;
        background-color: #f6fffb;
    }

    #captioned-gallery {
        display: none;
    }
    
    #button_container{
    margin-left: 1rem;
    margin-top: 2rem;
}
    
    .besoeg_titel{
        margin-bottom: 0;
    }
    


}


@media screen and (min-width: 568px) {
    #topmenu li {
        padding-top: 2.3rem;
        padding-left: 18.5rem;
    }

    #menuknap {
        left: 91vw;

    }

    #captioned-gallery {
        display: none;

    }

    #undermenu {
        margin: 0;
        margin-top: 1rem;
        grid-gap: 0.5rem;
    }
    
    .museumsplash{
        display: block;
        height: 100%;
    }
}
