/* OBS! Vi designer Mobile First */

body {
    margin: auto;
    font-family: arial;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

/* TYPOGRAFI */

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    color: white;
}

p {}

a {}

/* Museum */

#cover,
#about,
#visit {
    display: flex;
    flex-wrap: wrap;
}

#about,
#visit {
    padding: 3.28571vw 0;
}


section:nth-child(odd) {
    background-color: rgb(20, 179, 177);
}

section:nth-child(even) {
    background-color: white;
}

.column {
    flex-basis: 400px;
    flex-grow: 1;
    padding-right: 7.14286vw;
    padding-left: 7.14286vw;
}

.velkommen {
    padding-right: 7.14286vw;
    padding-left: 10.14286vw;
}


/* FORSIDE - Splash */

#forside_wrapper {
    margin: auto;
    margin-top: -45px;
    max-width: 1200px;
    padding: 10px;
}

#splash_forside {
    position: relative;
    display: inline-block;
}

#splash_forside .logo {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 70%;
    /* Set the width of the positioned div */
}

#indhold {
    margin: 10px -10px -10px -10px;
    padding: 3px 10px;
    background-color: #F5F4F4;
}

#indhold h2 {
    margin-top: 10px;
    text-align: center;
}

#indhold p {
    margin-bottom: 10px;
}

/* FORSIDE – Attraktioner */

#attraktioner {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#attraktioner .box {
    margin-bottom: 5px;
    height: 350px;
    position: relative;
    display: inline-block;

    /*    Skygge og animation */
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

#attraktioner .box:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#attraktioner img {
    margin-bottom: -4px;
}

#attraktioner .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 90%;
    /* Set the width of the positioned div */
}

/* TABLET  */

@media only screen and (min-width: 768px) {

    /*    FORSIDE */
    #attraktioner {
        grid-template-columns: repeat(3, 1fr);
    }

    #splash_forside .text {
        text-align: left;
        width: 80%;
        top: 30%;
    }
}

/* DESKTOP */

@media only screen and (min-width: 1025px) {

    #about,
    #visit {
        padding: 3vw;
    }

    #cover {
        padding: 0vw;
    }
}
}
