section:nth-child(even) {
    background-color: #f6fffb;
}

section:nth-child(odd) {
    background-color: #387288;
    color: white;
}


#topmenu {
    background: #387288;
}

div.slider { 
background: #387288;
}

#button {
    color: #387288; 
}

#footer {
     background: #387288;
}