section:nth-child(even) {
    background-color: #f6fffb;
}

section:nth-child(odd) {
    background-color: #0082AD;
    color: white;
}

#topmenu {
    background: #0082AD;
}

div.slider { 
background: #0082AD;
}

#button {
    color: #0082AD; 
}